<!-- cart.component.html -->
<div class="container">
    <h2>Your Shopping Cart</h2>
  
    <div *ngIf="cartItems.length === 0">
      <p>Your cart is empty.</p>
      <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
  
    <div *ngIf="cartItems.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems; let i = index">
            <td>{{ item.itemName }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.price | currency: 'INR': 'symbol':'1.2-2' }}</td>
            <td>
              <button (click)="decreaseQuantity(i)">-</button>
              <span>{{ item.quantity }}</span>
              <button (click)="increaseQuantity(i)">+</button>
            </td>
            <!-- Store individual line total in a variable -->
            <td>{{ (item.quantity * item.price) | currency: 'INR': 'symbol':'1.2-2' }}</td>
            <td>
              <button (click)="removeItem(i)">Remove</button>
            </td>
            
          </tr>
        </tbody>
        
      </table>
      <td>Total Checkout Amount {{ (totalPrice ) | currency: 'INR': 'symbol':'1.2-2' }}</td>
  
      <!-- Calculate and display the total salary by adding all individual line totals -->
      
      <button (click)="checkout()">Checkout</button>
      
    </div>
  </div>
