<div>
    <h2>Address Details</h2>
    <form (ngSubmit)="onSubmit()" #addressForm="ngForm">
      <div class="form-group">
        <label for="fullName">Full Name:</label>
        <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="address.fullName" required>
      </div>
  
      <div class="form-group">
        <label for="addressLine1">Address Line 1:</label>
        <input type="text" class="form-control" id="addressLine1" name="addressLine1" [(ngModel)]="address.addressLine1" required>
      </div>
  
      <div class="form-group">
        <label for="addressLine2">Address Line 2:</label>
        <input type="text" class="form-control" id="addressLine2" name="addressLine2" [(ngModel)]="address.addressLine2">
      </div>
  
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" [(ngModel)]="address.city" required>
      </div>
  
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" [(ngModel)]="address.state" required>
      </div>
  
      <div class="form-group">
        <label for="zipCode">Zip Code:</label>
        <input type="text" class="form-control" id="zipCode" name="zipCode" [(ngModel)]="address.zipCode" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Done</button>
    </form>
  </div>
  